<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/app_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartLab"
        tools:targetApi="31">
        <activity
            android:name=".businessView.businessActivity.PatientScheduleHospitalDetailActivity"
            android:exported="false" />
        <activity
            android:name=".businessView.businessActivity.PatientScheduleHospitalActivity"
            android:exported="false" />
        <activity
            android:name=".businessView.businessActivity.PatientBookingSuccessActivity"
            android:exported="false" />
        <activity
            android:name=".businessView.businessActivity.PatientBookDoctorActivity"
            android:exported="false" />

        <activity
            android:name=".businessView.businessActivity.PatientMedicineDetailActivity"
            android:exported="false" />

        <activity
            android:name=".businessView.businessActivity.PatientMedicineCartActivity"
            android:exported="false" />


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/my_app_api_key" />

        <activity
            android:name=".businessView.businessActivity.PatientHospitalMapsActivity"
            android:exported="false"
            android:label="@string/title_activity_patient_hospital_maps"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientLoginActivity"
            android:exported="false" />
        <activity
            android:name=".businessView.businessActivity.PatientPharmacyActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientHomeActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientCongratulationsActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientUpdateInfoActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientSetPasswordActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientVerifyOTPActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientGetOTPActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.MainGetStartedActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.PatientBookHospitalActivity"
            android:exported="false"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".businessView.businessActivity.MainStartActivity"
            android:exported="true"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>